SERVER_HOST = "localhost"
SERVER_PORT = 9339
DB_HOST = "localhost"
DB_PORT = 3306
DB_NAME = "gg_cafe"
DB_USER = "root"
DB_PASSWORD = ""

CLEAN_COST_CASH = 15
STAFF_PRICE = 2
SELL_FACTOR_CASH = 20
SELL_FACTOR_GOLD = 20
TIME_FACTOR = 1
RATING_GUEST_HAPPY = 1
RATING_GUEST_UNHAPPY = -2
COURIER_PRICE = 1
MAX_COURIER_SIZE = 8
INSTANT_COOK_HOUR_PER_GOLD = 1
JOBS_PER_DAY = 5
JOB_REFILL_GOLD = 1
WORK_TIME_LEFT = 240
COOP_EXPANSION_HOURS = 20
COOP_EXPANSION_GOLD = 1
COOP_TIME_TO_GOLD = 0.5
COOP_TIME_TO_SILVER = 0.75
COOP_REWARD_FACTOR_GOLD = 4
COOP_REWARD_FACTOR_SILVER = 2
REFRESH_FOOD_COST = 1
MASTERY_DAYS_LV1 = 1
MASTERY_DAYS_LV2 = 5
MASTERY_DAYS_LV3 = 13
MASTERY_STOVE_COUNT = 4
MASTERY_BONUS_SERVING = 1.05
MASTERY_BONUS_XP = 1.05
MASTERY_BONUS_TIME = 0.95
EMAIL_VERIFICATION_GOLD = 5
